# Maven
/target
!.mvn/wrapper/maven-wrapper.jar
.mvn/wrapper/maven-wrapper.properties
.mvn/wrapper/maven-wrapperDownloader.java

# IntelliJ IDEA
.idea/
*.iml
out/

# Eclipse
.classpath
.project
.settings/

# VS Code
.vscode/

# OS filer
.DS_Store
Thumbs.db

# Logs
*.log

# Env files
.env
